{% extends "layout.html" %}
{% block content %}



<br><br><br><br>

<span style="display:inline-block;margin-left: 9%;">
    
    <div class="card" style="width:400px;background:#fafafa;border: 0px;">
      <center><img class="card-img-top" src="{{ image }}" alt="Card image" style="width:70%;border-radius:300px;"></center>
      <div class="card-body">
            <center>
                    <a href="{{ url_for('loginPatient') }}" class="btn btn-primary stretched-link" style="padding-left: 21px;padding-right:21px;background-color: rgb(40, 53, 147);border-color: #5f788a;">Login</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="{{ url_for('registerPatient') }}" class="btn btn-primary stretched-link" style="background-color: rgb(40, 53, 147);border-color: rgb(40, 53, 147);">Register</a>
                </center>
      </div>
    </div>
</span>
<span style="display: inline-block; margin-left: 10%;">
        
    <div class="card" style="width:400px;background:#fafafa;border: 0px;">
        <center><img class="card-img-top" src="{{ image }}" alt="Card image" style="width:70%;border-radius: 300px;"></center>
        <div class="card-body">
            <center>
        <a href="{{ url_for('loginDoc') }}" class="btn btn-primary stretched-link" style="padding-left: 21px;padding-right:21px;background-color: rgb(40, 53, 147);border-color: rgb(40, 53, 147);">Login</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{{ url_for('registerDoc') }}" class="btn btn-primary stretched-link" style="background-color: rgb(40, 53, 147);border-color: rgb(40, 53, 147);">Register</a>
    </center>
        </div>
    </div>
</span>
{% endblock content %}